<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.glwsq.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.glwsq.blog.domain.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentCounts" column="comment_counts" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="BIGINT"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="viewCounts" column="view_counts" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="bodyId" column="body_id" jdbcType="BIGINT"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_counts,create_date,
        summary,title,view_counts,
        weight,author_id,body_id,
        category_id
    </sql>
</mapper>
